<!DOCTYPE html>
<html ng-app="videoclub">
    <head>
        <meta charset="utf-8">
        <title>Videoclub</title>
    </head>
    <body>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="./MainController.js"></script>
        <script src="./movie-list/movie-list.component.js"></script>

        <movie-list></movie-list>
        <!-- <div ng-controller="MoviesController">
            <ul>
                <li ng-repeat="movie in movies">
                    <p>Title {{ movie.name }}</p>
                    <p>Year {{ movie.year }}</p>
                    <p>actor {{ movie.actor }}</p>
                </li>
            </ul>
            <h2>add movie</h2>
            <input type="text" ng-model="movie.name" value="">
            <input type="text" ng-model="movie.year" value="">
            <input type="text" ng-model="movie.actor" value="">
            <button type="button" name="button" ng-click="addMovie()">Add</button>
        </div> -->
    </body>
</html>
